body{
    background-color:gray;
    border: 2px solid black;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color:rgb(195, 225, 235);
    border-radius: 3px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    float: right;
    list-style: none;
    padding: 0;
    gap: 3rem;
}
a:hover{
    background: lime;
    color: blue;
}
a{
    text-decoration: none;
}

#izza{
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#events{
    border-radius: 3px;
}
img{
    border-radius: 5px;
}
#vc{
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#chancellor{
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
button {
  position: absolute;
  top: 240%;
  left: 50%;
  transform: translate(-100%, -50%);
}